.tab-aligned {
    -fx-background-color: #DDDDDD;
    -fx-border-color:     #BDBDBD;
    -fx-border-width:     0 0 1 0;
    -fx-pref-height: 30;
}

.tab-pane .tab-header-area .tab {
    -fx-pref-height: 25;
}

.user-info .check-box {
    -fx-font-size: 13;
}

.chat-owned {
    -fx-background-color: #28aeff;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.chat-label {
    -fx-font-size: 50%;
    -fx-fill: gray;
}

.chat-norm {
    -fx-background-color: #dddddd;
    -fx-background-radius: 5;
    -fx-padding: 5;
}