.tab-aligned {
    -fx-background-color: #DDDDDD;
    -fx-border-color:     #BDBDBD;
    -fx-border-width:     0 0 1 0;
    -fx-pref-height: 43;
}

.tab-pane .tab-header-area .tab {
    -fx-pref-height: 38;
}

.tab {
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-height: 36;
}

.user-info .check-box {
    -fx-font-size: 13;
}

.custom-choice {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.custom-toggle {
    -fx-background-image: url("../../resources/icons/refresh.png");
}

.custom-toggle:disabled {
    -fx-opacity: 1;
}
.Logout {
    -fx-background-image: url("../../resources/icons/power.png");
}

.change-pass {
    -fx-background-image: url("../../resources/icons/lock.png");
}

.error-text {
    -fx-text-fill: red;
}

.error-box {
    -fx-background-color: #BDBDBD;
    -fx-border-color: #3c3c3c;
    -fx-border-width: 3;
}

.progress-indicator {
    -fx-progress-color: black;
}
.tool-bar .button {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
}

.tool-bar .toggle-button {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
}

.close-tab {
    -fx-background-image: url("../../resources/icons/eye-invisible.png");
}
.close-tab:selected {
    -fx-background-image: url("../../resources/icons/eye-visible.png");
}

.game-list{
	-fx-background-image: url("../../resources/icons/Dice-2-icon.png");
}

.user-list{
	-fx-background-image: url("../../resources/icons/Administrator-icon.png");
}

.comp-list{
	-fx-background-image: url("../../resources/icons/File-ClipboardFileText-icon.png");
}

.chal-list{
	-fx-background-image: url("../../resources/icons/Email-icon.png");
}

.word-list{
	-fx-background-image: url("../../resources/icons/Book-icon.png");
}

.game-cont{
	-fx-background-image: url("../../resources/icons/Chess-Board-icon.png");
}

.game-label {
    -fx-text-alignment: center;
    -fx-pref-width: 60;
}

.cell-text-field {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-alignment: center;
    -fx-pref-height: 25;
}

.current-player-label {
    -fx-font-weight: bold;
}
.chat-owned {
    -fx-background-color: #28aeff;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.chat-label {
    -fx-font-size: 80%;
    -fx-text-fill: grey;
    -fx-font-weight: lighter;
}

.chat-norm {
    -fx-background-color: #dddddd;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.custom-spinner {
    -fx-min-width: 100;
}

.custom-spinner:disabled {
    -fx-opacity: 1;
}

.custom-spinner:disabled .increment-arrow {
    visibility: hidden;
}
.custom-spinner:disabled .decrement-arrow {
    visibility: hidden;
}

.custom-spinner .text-field {
    -fx-alignment: center;
}
.custom-spinner:disabled .text-field {
    -fx-text-fill: #000000;
    -fx-opacity: 1.0;
}